{% extends "base.html" %}
{% block content %}
<ul>
  {% for category in category_list %}
  <li><a href="{% url 'article:category' category.pk %}">{{category.name}}</a></li>
  {% endfor %}
</ul>
  {% if article_list %}
  <table>
    <tr><td>Article Name</td><td>Article Time</td></tr>
    {% for article in article_list %}
    <tr>
      <td><a href='/article/{{article.id}}/'>{{article.title}}</a></td><td>{{article.last_modified_time}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p> No Articles </p>
  {% endif %}
{% endblock %}
