{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
{% block header%}
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Leo's Blog" />
    <meta name="author" cotent="LeoFu"/>
    <title>{% block title%} Leo's Blog{% endblock %}</title>
    {% block css %}
    {% endblock %}
  </head>
  {% endblock %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <body>
  <a href='{% url 'homepage' %}'>HomePage</a>
  <a href='{% url 'aboutme' %}'> About Me </a>
  <a href="{% url 'article:article_list' %}">Articles List</a>
  {% if not request.user.is_superuser %}
  <a href="admin/login/?next=/">Admin</a>
  {% endif %}
  {% if request.user.is_superuser %}
  <a href ={% url 'article:admin_article_list' %} > Admin Article List</a>
  <a class="glyphicon glyphicon-pencil" href="{% url 'create_article' %}"></a>
  <a href="{% url 'article:article_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
  <a href="/admin/">Admin</a>
  <a href="{% url 'logout' %}"> Logout </a>
  {% endif %}
  {% block content %}
  {% endblock %}
  </body>
{% block footer %}
{% endblock %}
</html>
