{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
{% block header%}
      <style type="text/css">
        body{color:#efd;background:rgb(85, 86, 88);padding:0 5em;margin:0}
        h1{padding:2em 1em;background:#e822bc;text-align: center}
        h2{color:#1d73d7;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Leo's Blog" />
    <meta name="author" cotent="LeoFu"/>
    <title>{% block title%} Leo's Blog{% endblock %}</title>
    {% block css %}
    {% endblock %}
  </head>
  {% endblock %}
  <body>
  <a href='{% url 'homepage' %}'>HomePage</a>
  <a href='{% url 'aboutme' %}'> About Me </a>
  <a href="{% url 'article:article_list' %}">All Articles List</a>
  <a href="/admin/">Admin</a>
  {% if request.user.is_superuser %}
  <a href="{% url 'create_article' %}"> Create Article </a>
  <a href="{% url 'logout' %}"> Log out </a>
  {% endif %}
  {% block content %}
  {% endblock %}
  </body>
{% block footer %}
{% endblock %}
</html>
