<div class="comment">
    <div class="comment-main">
        <p class="head">Comment</p>
        <form method="post" action="{% url 'article:comment' article.pk %}">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <br>
                {% endfor %}
            </div>
            <button type="submit" class="com-button">Submit</button>
        </form>
        {% if comment_list %}
        <p>All {{comment_list.count}} Comment{{comment_list.count|pluralize}}</p>
        {% else %}
        <p>There is no comment for this article.</p>
        {% endif %}
        <hr>
        {% for comment in comment_list %}
            <div class="main-content">
                <span >{{ comment.user_name }}</span>
                <time>{{ comment.created_time }}</time>
                <div >
                    {{ comment.content }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
