        <p >Comment</p>
        <form method="post" action="{% url 'article:comment' article.pk %}">
            {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <br>
                {% endfor %}
            <button type="submit" class="">Submit</button>
        </form>
        {% if comment_list %}
        <p>All {{comment_list.count}} Comment{{comment_list.count|pluralize}}</p>
        {% else %}
        <p>There is no comment for this article.</p>
        {% endif %}
        <hr>
        
        {% for comment in comment_list %}

                <span >{{ comment.user_name }}</span>
                <time>Time:{{ comment.create_time }}</time>
                <div>
                    {{ comment.content }}
                </div>
            <hr>
        {% endfor %}
